Header{
        border-bottom: solid 1.2px #677D6A;
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 10px 200px 10px 200px;
        img{
            cursor: pointer;
        }
    }